* {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
img {
    width: 30px;
    height: auto;
    aspect-ratio: 1;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 0.8vw;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,.2),
                -1px 1px 8px 2px rgba(0,0,0,.2);
}
[type='number']{
    margin-inline: auto;
    outline: none;
    border: none;
    border-bottom: 1px solid red;
}
#title {
    text-align: center;
}
#calc {
    display: flex;
    justify-content: center;
    align-items: center;
}
#calc div:first-child {
    display: flex;
    flex-direction: column;
    padding-block: 4px;
}
#calc div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calc div:nth-child(3) {
    padding-block: 6px;
}

@media screen and (max-width: 500px) {
    #calc {
        flex-direction: column;
    }
}